html {
    font-size: 12px;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

.ft {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

.bt {
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #d8b2a1;
    border: 0px;
}

.content-container {
    width: 100%;
    padding-top: 64px;
}

.content-container > h1 {
    text-align: center;
    margin: 32px 16px 32px 16px;
}

/* Nav Bar */
.nav-bar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 16px 32px;
    background-color: #E2D9CD;
    z-index: 1000;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.1s;
}

.nav-bar .hightlight {
    font-weight: bold;
}

.nav-bar h3:hover {
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

#menu {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #menu {
        display: block;
    }

    .nav-bar a {
        display: none;
    }

    #title {
        display: block;
    }
}

#nav-bar-opened {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #493F32;
    top: 0;
    left: 0;
    padding: 25vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    opacity: 0;
    z-index: -999;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

.fade-out {
    animation: fade-out 0.5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#nav-bar-opened a {
    color: white;
    text-decoration: none;
}

#nav-bar-opened h3:hover {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Home Page */
.home-content {
    margin: 32px 64px 0 64px;
    padding: 32px 32px 64px 32px;
    background-color: #493F32;
    border-radius: 32px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

@media screen and (max-width: 425px) {
    .home-content {
        margin: 32px 32px 0 32px;
    }
}

.home-content h2 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 48px;
}

.home-content img {
    width: 90%;
}

#home-image-2 {
    display: none;
}

/* Time Bar */
.time-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr;
    align-items: center;
    background-color: #E2D9CD;
    position: relative;
    transform: translateY(-50%);
    width: 80%;
    margin: auto;
    padding: 16px 0;
    border-radius: 16px;
}

@media screen and (max-width: 1024px) {
    .time-bar {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .time-bar {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #home-image-1 {
        display: none;
    }

    #home-image-2 {
        display: block;
        width: 100%;
    }
}

.time-bar a {
    color: black;
    text-decoration: none;
}

.bar-item {
    border-right: 1px solid #111;
    text-align: center;
}

.bar-item p {
    transition: all 0.5s;
}

.bar-item h3 {
    transition: all 0.5s;
}

.bar-item:hover p {
    transform: scale(1.15);
}

.bar-item:hover h3 {
    transform: scale(1.15);
}

.time-bar > a:nth-child(5) .bar-item {
    border-right: 0;
}

.bar-item h3 {
    margin: 0;
    padding: 0;
}

.time-bar i {
    text-align: center;
    width: 24px;
    padding: 20px 10px;
    border-radius: 16px;
    background-color: #0A0A09;
    color: white;
}

/* Early Life */
.life-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 32px;
}

.life-point > div:first-child {
    align-self: flex-start;
}

.life-point > div:first-child > div{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #493F32;
    position: relative;
    left: -46px;
}

.life-point img {
    width: 300px;
}

.life-content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    border-left: solid 4px #E2D9CD;
    padding-left: 32px;
}

@media screen and (max-width: 1024px){
    .life-content {
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    .life-point {
        flex-direction: column;
    }

    .life-point > div:first-child {
        margin-bottom: -24px;
    }
}

@media screen and (max-width: 400px){
    .life-point img {
        width: 240px;
    }
}

/* Ideas */
.idea-content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

@media screen and (max-width: 1024px){
    .idea-content {
        width: 70%;
    }
}

.idea-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 64px;
}

.idea-point > div:first-child {
    padding-right: 64px;
    border-right: 1px solid #E2D9CD;
}

@media screen and (max-width: 768px) {
    .idea-point {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .idea-point > div:first-child {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #E2D9CD;
        padding-right: 0px;
        border-right: 0px;
    }

    .reverse > div:first-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        padding-right: 0px;
        border-right: 0px;
    }

    .reverse > div:last-child {
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #E2D9CD;
        padding-right: 0px;
        border-right: 0px;
    }
}

.idea-point h2 {
    text-align: center;
}

.idea-point > .concept p {
    font-style: italic;
}

/* Legacy */
.legacy-content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

@media screen and (max-width: 1024px){
    .legacy-content {
        width: 70%;
    }
}

.legacy-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 64px;
}

.legacy-point img {
    width: 300px;
}

.legacy-point h2 {
    text-align: center;
}

.legacy-point > div:first-child {
    padding-right: 64px;
    border-right: 1px solid #E2D9CD;
}

@media screen and (max-width: 400px) {
    .legacy-point img {
        width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .legacy-point {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .legacy-point > div:first-child {
        padding-right: 0px;
        border-right: 0px;
    }

    .legacy-point > div:last-child {
        padding-top: 32px;
        margin-top: 32px;
        border-top: 1px solid #E2D9CD;
    }

    .reverse > div:first-child {
        padding-top: 32px;
        margin-top: 32px;
        border-top: 1px solid #E2D9CD;
    }

    .reverse > div:last-child {
        padding: 0;
        margin: 0;
        border-top: 0px;
        border-bottom: 0px;
    }
}

/* Gallery */
.gallery-content {
    width: 60%;
    margin: 64px auto 64px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
}

@media screen and (max-width: 1024px) {
    .gallery-content {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .gallery-content {
        width: 80%;
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 560px) {
    .gallery-content {
        margin: 32px auto 32px auto;
    }
}

.artpiece {
    text-align: center;
}

.artpiece img {
    width: 160px;
    height: 200px;
}

.artpiece p {
    width: 80%;
    margin: 16px auto 0 auto;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
}

.my-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.25s;
}

.my-image:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px black;
}

#large-image-container {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: -100;
    display: none;
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
}

.image-row {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 56px;
}

.image-row i {
    margin: 0 24px 0 24px;
    cursor: pointer;
}

#large-image {
    width: 60vh;
    height: 80vh;
    object-fit: cover;
}

/* Artwork */
.artwork-content {
    margin: 0 64px 0 64px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 64px;
}

@media screen and (max-width: 1200px) {
    .artwork-content {
        margin: 0 32px 0 32px;
    }
}

@media screen and (max-width: 1024px) {
    .artwork-content {
        grid-template-columns: 1fr 2.5fr;
        margin: 0 32px 0 32px;
    }
}

@media screen and (max-width: 910px) {
    .artwork-content {
        grid-template-columns: 1fr 2fr;
    }
}

.artwork-content > div > div:last-child {
    border-left: solid 4px #E2D9CD;
    padding-left: 32px;
}

.starting-quote {
    text-align: center;
    margin-bottom: 64px;
}

.starting-quote h3 {
    font-style: italic;
    font-weight: 400;
}

.artwork-point {
    display: flex;
    flex-direction: row;
}

.artwork-point > div:first-child > div{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #493F32;
    position: relative;
    left: -46px;
}

.artwork-point h2 {
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.artwork-style {
    padding-top: 80px;
    position: sticky;
    top: 0;
    height: 80vh;
    z-index: -1;
}

.artwork-style h2 {
    padding-left: 16px;
}

@media screen and (max-width: 796px) {
    .artwork-content {
        grid-template-columns: 1fr;
    }

    .artwork-style {
        position: relative;
        height: 100%;
        padding-top: 0px;
    }
}

/* Footer */
footer {
    background-color: #E2D9CD;
    padding: 16px 128px 16px 128px;
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: center;
    margin-top: 32px;
}

#footer-imgs {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: center;
}

@media screen and (max-width: 1024px){
    footer {
        padding: 16px 64px 16px 64px;
    }
}

footer p {
    font-size: 1rem;
}

footer img {
    height: 72px;
}

#footer-img2 {
    display: none;
}

@media screen and (max-width: 768px) {

    #footer-img1 {
        display: none;
    }

    #footer-img2 {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    footer {
        flex-direction: column-reverse;
    }
}